.footer {
  position: relative;
  @include fluid(padding-top, 40px, 68px);
  padding-bottom: 17px;

  .logo {
    height: fit-content;

    &__img {
      @include fluid(height, 60px, 89px);
    }

    &__text {
      font-size: 12px;
    }
  }

  &__elem {
    position: absolute;
    @include fluid(right, 15px, 60px);
    @include fluid(bottom, 20px, 40px);
    display: flex;
    @include fluid(gap, 15px, 30px);
    align-items: end;

    .up {
      @include fluid(margin-bottom, 5px, 10px);
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr .65fr;
    gap: 20px;
    @include fluid(padding-bottom, 30px, 56px);
    border-bottom: 1px solid #CFD6DD;
  }

  &__item {
    display: flex;
    flex-direction: column;
    @include fluid(gap, 5px, 7px);

    &-title {
      @include fluid(margin-bottom, 5px, 12px);
      @include fluid(font-size, 12px, 14px);
      font-weight: 700;
      text-transform: uppercase;
      color: #263238;
    }

    &-link {
      width: fit-content;
      @include fluid(font-size, 12px, 14px);
      color: #66727F;
      transition: color .23s ease-in-out;

      &:hover {
        color: #1730BD;
      }

      &:has(+.btn) {
        @include fluid(margin-bottom, 5px, 10px);
      }
    }
  }

  &__bot {
    display: grid;
    grid-template-columns: .7fr 1fr;
    gap: 20px;
    @include fluid(margin-top, 15px, 18px);

    &-link {
      font-size: 12px;
      color: #66727F;
      transition: color .23s ease-in-out;

      &:hover {
        color: #1730BD;
      }
    }
  }

  &__copy {
    font-size: 12px;
  }

  .phone {
    &:has(+*) {
      @include fluid(margin-bottom, 5px, 10px);
    }
  }
}

@media(max-width: 992px) {
  .footer {
    &__inner {
      grid-template-columns: repeat(2, 1fr);
    }

    &__elem {
      bottom: 70px;
    }
  }
}

@media(max-width: 768px) {
  .footer {
    &__inner {
      grid-template-columns: 1fr;
      padding-bottom: 120px;
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__elem {
      left: 50%;
      transform: translateX(-50%);
      right: unset;
      bottom: 110px;
    }

    .logo {
      justify-content: center;

      &__text {
        max-width: 115px;
      }
    }

    &__bot {
      grid-template-columns: 1fr;

      &-link {
        text-align: center;
      }
    }

    &__copy {
      text-align: center;
    }
  }
}